{% extends 'photos/base.html' %}

{% block content %}
{% for post in photos %}

<div style="clear: both; margin: 0px" >
    <h1>{{post.title}} | АВТОР: {{post.username}} | Локация: {{post.location}} | Дата: {{post.post_date}}</h1>
    {% if post.img %}
    <p><img src="{{post.img}}" align="left" height="200px" >{{post.description|linebreaks}}</p>
    {% endif %}
</div>
<hr>

{% endfor %}

<div style="clear: both;"></div>
{% if comments %}

<div>Комментарии: </div>
<hr>
{% for comment in comments %}
Автор: {{comment.user}}<br>
<div style="padding-top: 10px">{{comment.content}}</div>
<hr>
{% endfor %}

{% endif %}
<br>
<div>Добавить комментарий.</div>

<div>
<form action="{% url 'album' album_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    <p><label class="form-label" for="content">Комментарий: </label><input type="text" id = "content" name="content" required></p>
    <div class="form-error">{{ f.errors }}</div>

    <button type="submit">Добавить</button>
</form>
</div>
{% endblock %}
